<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Cứu trợ động vật-About Us</title>

    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">
    <style>
        .center {
            margin: auto;
            width: 50%;
        }
    </style>

</head>

<body>


    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->
    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-frame">
                        <img class="img-fluid" src="~/images/about-img.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">Nhóm <span>tình nguyện</span></h2>
                    <p>
                        "Chúng tôi là một nhóm trẻ tình nguyện viên Việt Nam và quốc tế, hoạt động vì tình yêu chó mèo.
                        Tôn chỉ hoạt động của chúng tôi là không từ bỏ nỗ lực với bất kỳ con vật nào, dù bé có ốm yếu
                        hay tàn tật tới đâu, bởi mỗi thú cưng đều cần có cơ hội hi vọng vào một tương lai tốt đẹp. Chúng
                        tôi mang lại sự yêu thương, chăm sóc và cưu mang với những con vật đáng thương bị bỏ rơi hay bạo
                        hành. Ngoài ra, chúng tôi giúp tìm mái ấm trọn đời cho các bé. Và cuối cùng, chúng tôi giúp nâng
                        cao nhận thức về trách nhiệm của chủ nuôi thông qua mạng xã hội và các hoạt động thiện nguyện.

                    </p>
                    <p>
                        Là một trong những trạm cứu hộ thú cưng ít ỏi tại Đà Nẵng, hoạt động từ năm 2019 đến nay, Nhóm đã
                        góp phần cứu giúp trên 500 ca chó mèo bị bỏ rơi hay bạo hành, đồng thời tìm mái ấm mới cho hàng
                        trăm bé.
                    </p>
                    <a class="btn hvr-hover" href="https://www.facebook.com/PetRescueVN" target="_blank">Xem Fanpage</a>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Chúng tôi đáng tin cậy</h3>
                        <p>Đội tình nguyện viên trẻ đã có thành tích xuất sắc và bằng khen từ hiệp hội bảo vệ động vật. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Chúng tôi chuyên nghiệp</h3>
                        <p>Các thành viên đều có kĩ năng chăm sóc cứu trợ những con vật bị thương. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Chúng tôi linh hoạt</h3>
                        <p>Nếu bạn có bất kì thăc mắc nào thì đội tình nguyện sẽ sẵn sàng hỗ trợ. </p>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <h2 class="noo-sh-title">ĐỘI NGŨ CỦA CHÚNG TÔI</h2>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="hover-team">
                        <div class="our-team">
                            <img src="~/images/img-1.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Nguyên Hoàng</h3> <span class="post">Nhà sáng lập</span>
                            </div>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/S2vandersar" class="fab fa-facebook" target="_blank"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Trước khi sáng lập nên trang cứu trợ động vật, Hoàng đã từng tham gia hoạt động cứu hộ chó mèo ở Đà Nẵng nhiều năm. </p>
                        </div>
                        <hr class="my-0">
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="hover-team">
                        <div class="our-team">
                            <img src="~/images/img-2.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Hữu Tài</h3> <span class="post">Đồng sáng lập</span>
                            </div>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/tai.is.tristan" class="fab fa-facebook" target="_blank"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Cùng với Hoàng, Tài đã chung tay sáng lập ra hội Cứu trợ động vật.Tài có lối làm việc tốt, giúp hội cứu trợ luôn giữ được hướng đi đúng.. </p>
                        </div>
                        <hr class="my-0">
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="hover-team">
                        <div class="our-team">
                            <img src="~/images/img-3.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Ngọc Huy</h3> <span class="post">Tư vấn truyền thông</span>
                            </div>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/ngochuyzzz" class="fab fa-facebook" target="_blank"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Huy tham gia nhiều vào hoạt động phỏng vấn tìm chủ và foster. Với kinh nghiệm truyền thông và tổ chức sự kiện, Huy tổ chức nhiều sự kiện quy mô vừa và lớn cho những người yêu thú cưng như Running Paws, Hachiko Festival, </p>
                        </div>
                        <hr class="my-0">
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 center">
                    <div class="hover-team">
                        <div class="our-team">
                            <img src="~/images/minh.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Học Minh</h3> <span class="post">Tổ chức sự kiện</span>
                            </div>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/hoc.minh.54" class="fab fa-facebook" target="_blank"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Minh đã tổ chức nhiều sự kiện về chó mèo để tuyên truyền cho mọi người biết yêu thương động vật nhiều hơn.Minh đang hoàn thiện website và lên kế hoạch cho những dự án gây quỹ nhằm xây dựng nhà chung mới. </p>
                        </div>
                        <hr class="my-0">
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 center">
                    <div class="hover-team">
                        <div class="our-team">
                            <img src="~/images/lai.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Cẩm Lai</h3> <span class="post">Thư ký</span>
                            </div>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/camlai.phamthi.9" class="fab fa-facebook" target="_blank"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Là một người yêu chó mèo, Lai đảm nhận vai trò chính trong việc phỏng vấn tìm chủ cho chó mèo, điều phối cứu hộ và thậm chí trực tiếp tham gia cứu hộ những khi có thời gian rảnh. </p>
                        </div>
                        <hr class="my-0">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="item">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-3 text-center mb-md-3">
                    <img src="~/images/logo.jpg" class="logo-footer" alt="cuutrodongvat" />
                    <ul class="social-list text-center list-inline">
                        <li class="list-inline-item"><a title="Facebook" href="https://www.facebook.com/PetRescueVN" target="_blank" rel="noreferrer"><i class="fab fa-facebook-f"></i></a></li>

                    </ul>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <h2>Về chúng tôi</h2>
                    <hr class="small-divider left" />
                    <p class="mt-3" aria-hidden="true">
                        Nhóm trẻ tình nguyện viên Việt Nam và quốc tế, hoạt động vì tình yêu chó mèo.
                    </p>
                    <h5>Thông tin liên hệ</h5>
                    <hr class="small-divider left" />
                    <p class="mt-3" aria-hidden="true">
                        <ul class="list-unstyled mt-3">
                            <li class="mb-1"><i class="fas fa-phone margin-icon "></i><a href="tel:03937932" rel="noreferrer" aria-label="0393201068" aria-labelledby="0393201068">(+84)39 320 1068</a></li>
                            <li class="mb-1"><i class="fas fa-envelope margin-icon"></i><a href="mailto:cuutrodongvat@gmail.com" rel="noreferrer" aria-label="cuutrodongvat@gmail.com" aria-labelledby="cuutrodongvat@gmail.com">cuutrodongvat@gmail.com</a></li>
                            <li><i class="fas fa-map-marker margin-icon"></i>DaNang - Viet Nam</li>
                        </ul>
                    </p>

                </div>
                <div class="col-sm-12 col-md-6 col-lg-5 text-center">
                    <div class="fb-page" data-href="https://www.facebook.com/PetRescueVN" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/CUU-TRO-DONG-VAT-108183060917509/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CUU-TRO-DONG-VAT-108183060917509/">CỨU TRỢ ĐỘNG VẬT</a></blockquote></div>
                    <img src="~/images/logo2.jpg" class="logo-footer" />
                </div>
            </div>
            <hr />

        </div>

    </footer> 
  

  

</body>

</html>