
<head>
    <title>Liên hệ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/css/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">

    <div class="bgded overlay" style="background-image:url(@Url.Content("~/images/demo/backgrounds/01.png"))">
        <div id="pageintro" class="hoc clear">
            <!-- ################################################################################################ -->
            <article>
                <h3 class="heading">QUỸ HỖ TRỢ THÚ CƯNG</h3>
                <pre class="text-white">         
                 Chi phí sẽ được chia đều cho các bé khác còn nằm viện và gây dựng nhà chung.
        Mọi chi phí hỗ trợ xin liên hệ các số tài khoản bên dưới hoặc có thể liên hệ với chúng tôi qua Fanpage.</pre>
                <footer><a class="btn" target="_blank" href="https://www.facebook.com/CUU-TRO-DONG-VAT-108183060917509/?ref=aymt_homepage_panel&eid=ARCXC7IiuyzK_6OOGwUfHXIa9Kfm5qG7_rp6DqeOWnwkRnYYvYDqiaeJcyArfaIyLa54Tb-XMfhqDtQi">Xem Fanpage</a></footer>
            </article>
            <!-- ################################################################################################ -->
        </div>
    </div>

    <div class="wrapper row3">
        <main class="hoc container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <section id="introblocks">
                <ul class="nospace group btmspace-80 elements elements-four">
                    <li class="one_quarter">
                        <article>
                            <a href="#"><i class="fas fa-hand-rock"></i></a>
                            <h6 class="heading">TPBANK</h6>
                            <p>
                    <li>Trần Nguyên Hoàng</li>
                    <li>040044682186</li>
                    <li>Chi Nhánh Thanh Khê</li></p>
                    </article>
                    </li>
                    <li class="one_quarter">
                        <article>
                            <a href="#"><i class="fas fa-dove"></i></a>
                            <h6 class="heading">VIETCOMBANK</h6>
                            <p>
                    <li>Phùng Hữu Tài</li>
                    <li>01008976543</li>
                    <li>Chi Nhánh Hải Châu</li></p>
                    </article>
                    </li>
                    <li class="one_quarter">
                        <article>
                            <a href="#"><i class="fas fa-history"></i></a>
                            <h6 class="heading">DONGA BANK</h6>
                            <p>
                    <li>Lê Học Minh</li>
                    <li>122160019</li>
                    <li>Chi Nhánh Quảng Nam</li></p>
                    </article>
                    </li>
                    <li class="one_quarter">
                        <article>
                            <a href="#"><i class="fas fa-heartbeat"></i></a>
                            <h6 class="heading">BIDV</h6>
                            <p>
                    <li>Hồ Ngọc Huy</li>
                    <li>1900228508</li>
                    <li>Chi Nhánh Cẩm Lệ</li></p>
                    </article>
                    </li>
                </ul>
            </section>


            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div>
    <!-- ################################################################################################ -->

    <div class="bgded overlay light" style="background-image:@Url.Content("images/demo/backgrounds/01.png");">
        <section id="services" class="hoc container clear">
            <!-- ################################################################################################ -->
            <div class="sectiontitle">

                <h6 class="heading font-x2">CÁC PHƯƠNG THỨC ỦNG HỘ KHÁC</h6>
            </div>
            <ul class="nospace group elements elements-three">
                <li class="one_third">
                    <article>
                        <a href="#"><i class="fas fa-hourglass-half"></i></a>
                        <h6 class="heading">Bỉm</h6>

                    </article>
                </li>
                <li class="one_third">
                    <article>
                        <a href="#"><i class="fas fa-paw"></i></a>
                        <h6 class="heading">Nước</h6>

                    </article>
                </li>
                <li class="one_third">
                    <article>
                        <a href="#"><i class="fas fa-sliders-h"></i></a>
                        <h6 class="heading">Thức ăn</h6>

                    </article>

            </ul>
            <!-- ################################################################################################ -->
        </section>
    </div>




    <div class="wrapper row3">
        <section class="hoc container clear">
            <!-- ################################################################################################ -->
            <div class="sectiontitle">

                <h6 class="heading font-x2">CẢM ƠN SỰ HỖ TRỢ CỦA CÁC BẠN!</h6>
            </div>

    </div>

    <div class="bgded overlay row4" style="background-image:@Url.Content("images/demo/backgrounds/01.png");">
        <footer id="footer" class="hoc clear">
            <!-- ################################################################################################ -->
            <div class="one_quarter first">
                <h1 class="logoname"><a href="index.html">Pet<span>r</span>escue</a></h1>
                <p>Hành động để thay đổi cuộc sống của chó mèo.Chúng xứng đáng có một ngôi nhà thân thương.</p>

                <a target="_blank" class="faicon-facebook" href="https://www.facebook.com/CUU-TRO-DONG-VAT-108183060917509/?ref=aymt_homepage_panel&eid=ARCXC7IiuyzK_6OOGwUfHXIa9Kfm5qG7_rp6DqeOWnwkRnYYvYDqiaeJcyArfaIyLa54Tb-XMfhqDtQi"><i class="fab fa-facebook"></i></a>


            </div>
            <div class="one_quarter">
                <h6 class="heading">Về chúng tôi</h6>
                <ul class="nospace linklist">
                    <li><a href="#">Nhóm bạn trẻ hoạt động vì tình yêu động vật</a></li>
                    <li><a href="#">(+84)70 2704 190</a></li>
                    <li><a href="#">16pfiev3@gmail.com</a></li>
                    <li><a href="#">Da Nang - Viet Nam</a></li>

                </ul>
            </div>
            <div class="two_quarter">
                <div class="fb-page" target="_blank" data-href="https://www.facebook.com/C%E1%BB%A8U-TR%E1%BB%A2-%C4%90%E1%BB%98NG-V%E1%BA%ACT-108183060917509/" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/C%E1%BB%A8U-TR%E1%BB%A2-%C4%90%E1%BB%98NG-V%E1%BA%ACT-108183060917509/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/C%E1%BB%A8U-TR%E1%BB%A2-%C4%90%E1%BB%98NG-V%E1%BA%ACT-108183060917509/">Cứu trợ động vật</a></blockquote></div>
            </div>
    </div>
    <hr />


    <div id="chatWithUs">
        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <i class="fab fa-facebook-messenger"></i>
        </a>

        <div class="chatWithUsBox">
            <div class="fb-page" target="_blank" data-href="https://www.facebook.com/C%E1%BB%A8U-TR%E1%BB%A2-%C4%90%E1%BB%98NG-V%E1%BA%ACT-108183060917509/" data-tabs="messages" data-width="300" data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/C%E1%BB%A8U-TR%E1%BB%A2-%C4%90%E1%BB%98NG-V%E1%BA%ACT-108183060917509/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/C%E1%BB%A8U-TR%E1%BB%A2-%C4%90%E1%BB%98NG-V%E1%BA%ACT-108183060917509/">Cứu trợ động vật</a></blockquote></div>
        </div>
    </div>

    <div class="one_quarter">
        <div class="block font-xs" target="_blank" data-href="https://www.facebook.com/C%E1%BB%A8U-TR%E1%BB%A2-%C4%90%E1%BB%98NG-V%E1%BA%ACT-108183060917509/" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/C%E1%BB%A8U-TR%E1%BB%A2-%C4%90%E1%BB%98NG-V%E1%BA%ACT-108183060917509/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/C%E1%BB%A8U-TR%E1%BB%A2-%C4%90%E1%BB%98NG-V%E1%BA%ACT-108183060917509/">Cứu trợ động vật</a></blockquote></div>
    </div>
    </div>
    <hr />



    </footer>
    </div>
    <!-- ################################################################################################ -->


    <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="layout/scripts/jquery.min.js"></script>
    <script src="layout/scripts/jquery.backtotop.js"></script>
    <script src="layout/scripts/jquery.mobilemenu.js"></script>
    <!-- Homepage specific -->
    <script src="layout/scripts/jquery.easypiechart.min.js"></script>
    <!-- / Homepage specific -->
    <div id="fb-root"></div>
    <script defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v5.0&appId=528677467971809&autoLogAppEvents=1"></script>



    <script src='https://www.google.com/recaptcha/api.js'></script>

</body>