@*Left side filter*@



<form id="filter-form" method="post" action="">
    <div class="row">
        <div class="col-5">
            <h6>Ngày đăng</h6>
            <input class="form-element" value="today" name="duration" type="radio" />
            <label for="today">Hôm nay</label>
            <br />

            <input class="form-element" value="3days" name="duration" type="radio" />
            <label for="3days">3 ngày</label>
            <br />

            <input class="form-element" value="week" name="duration" type="radio" />
            <label for="week">Tuần này</label>
            <br />

            <input class="form-element" value="all" name="duration" type="radio" />
            <label for="all">Mọi lúc</label>
        </div>
        <div class="col-7">
            <h6>Khu vực:</h6>
            <input class="form-element" value="haichau" name="area" type="radio" />
            <label for="danang">Hải Châu</label>
            <br />

            <input class="form-element" value="thanhkhe" name="area" type="radio" />
            <label for="hanoi">Thanh Khê</label>
            <br />

            <input class="form-element" value="sontra" name="area" type="radio" />
            <label for="saigon">Sơn Trà</label>
            <br />

            <input class="form-element" value="lienchieu" name="area" type="radio" />
            <label for="all">Liên Chiểu</label>
            <br />

            <input class="form-element" value="camle" name="area" type="radio" />
            <label for="hanoi">Cẩm Lệ</label>
            <br />

            <input class="form-element" value="hoavang" name="area" type="radio" />
            <label for="saigon">Hòa Vang</label>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-11">
            <input class="form-element w-100" type="text" placeholder="Tìm bài viết" name="searchcontent" />
        </div>
    </div>
    <hr />
</form>



