@*Left side filter*@
@*<div class="col-3 filter pl-5">
        <h3 class="my-3">Bộ lọc tìm kiếm</h3>
        <div class="filter-group">
            <h6>Thành phố</h6>
            <p>@Model.test</p>
            <div class="checkbox-label">
                <input type="checkbox" value="Danang" id="cb-danang" />
                Đà Nẵng
            </div>
            <div class="checkbox-label">
                <input type="checkbox" value="Saigon" />
                TP. Hồ Chí Minh
            </div>
            <div class="checkbox-label">
                <input type="checkbox" value="Hanoi" />
                Hà Nội
            </div>
            <div class="checkbox-label">
                <input type="checkbox" value="OthersPlace" />
                Nơi khác
            </div>
        </div>
        <hr />
        <div class="filter-group">
            <h6>Động vật</h6>
            @using (Html.BeginForm("ReloadIndexByCategoryAnimal", "Home"))
            {
                <input value="cat" name="category" type="checkbox" onclick="this.form.submit()" />
                <label for="cat">Mèo</label><br />

                <input value="dog" name="category" type="checkbox" onclick="this.form.submit()" />
                <label for="dog">Chó</label><br />

                <input value="others" name="category" type="checkbox" onclick="this.form.submit()" />
                <label for="others">Động vật khác</label><br />
            }
        </div>
        <hr />
        <div class="filter-group">
            <h6>Loại cứu trợ</h6>
            @using (Html.BeginForm("ReloadIndexByCategoryFilter", "Home"))
            {
                <input value="adopt" name="category" type="checkbox" onclick="this.form.submit()" />
                <label for="adopt">Nhận nuôi</label><br />

                <input value="disease" name="category" type="checkbox" onclick="this.form.submit()" />
                <label for="disease">Bệnh tật</label><br />

                <input value="help" name="category" type="checkbox" onclick="this.form.submit()" />
                <label for="help">Giúp đỡ</label><br />
            }
        </div>
        <hr />
        <div class="filter-group">
            <h6>Ngày đăng</h6>
            @using (Html.BeginForm("ReloadIndexByDayFilter", "Home"))
            {
                <input value="today" name="duration" type="radio" onclick="this.form.submit()" />
                <label for="today">Hôm nay</label><br />

                <input value="3days" name="duration" type="radio" onclick="this.form.submit()" />
                <label for="3days">Trong 3 ngày</label><br />

                <input value="week" name="duration" type="radio" onclick="this.form.submit()" />
                <label for="week">Tuần này</label><br />

                <input value="all" name="duration" type="radio" onclick="this.form.submit()" />
                <label for="all">Tất cả</label><br />
            }
        </div>
    </div>*@

    <div class="col-3 filter pl-5">
        @using (Html.BeginForm("FilterIndex", "Home"))
        {
            <h6>Ngày đăng</h6>
            <input value="today" name="duration" type="radio" />
            <label for="today">Hôm nay</label><br />

            <input value="3days" name="duration" type="radio" />
            <label for="3days">Trong 3 ngày</label><br />

            <input value="week" name="duration" type="radio" />
            <label for="week">Tuần này</label><br />

            <input value="all" name="duration" type="radio" />
            <label for="all">Tất cả</label><br />

            <h6>Loại cứu trợ</h6>
            <input value="adopt" name="category" type="checkbox" />
            <label for="adopt">Nhận nuôi</label><br />

            <input value="disease" name="category" type="checkbox" />
            <label for="disease">Bệnh tật</label><br />

            <input value="help" name="category" type="checkbox" />
            <label for="help">Giúp đỡ</label><br />

            <h6>Động vật</h6>
            <input value="cat" name="animal" type="checkbox" />
            <label for="cat">Mèo</label><br />

            <input value="dog" name="animal" type="checkbox" />
            <label for="dog">Chó</label><br />

            <input value="others" name="animal" type="checkbox" />
            <label for="others">Khác</label><br />


            <h6>Thành phố</h6>
            <input value="danang" name="city" type="checkbox" />
            <label for="danang">Đà Nẵng</label><br />

            <input value="hanoi" name="city" type="checkbox" />
            <label for="hanoi">Hà Nội</label><br />

            <input value="saigon" name="city" type="checkbox" />
            <label for="saigon">Tp. Hồ Chí Minh</label><br />

            <input type="submit" class="btn btn-outline-success" value="Tìm"/>
        }
    </div>