@*Left side filter*@

    <div class="col-3 filter pl-5">

        @using (Html.BeginForm("FilterIndex", "Home"))
        {
            <h6>Ngày đăng</h6>
            <input value="today" name="duration" type="radio" />
            <label for="today">Hôm nay</label><br />

            <input value="3days" name="duration" type="radio" />
            <label for="3days">Trong 3 ngày</label><br />

            <input value="week" name="duration" type="radio" />
            <label for="week">Tuần này</label><br />

            <input value="all" name="duration" type="radio" />
            <label for="all">Tất cả</label><br />

            <h6>Loại cứu trợ</h6>
            <input value="adopt" name="category" type="checkbox" />
            <label for="adopt">Nhận nuôi</label><br />

            <input value="disease" name="category" type="checkbox" />
            <label for="disease">Bệnh tật</label><br />

            <input value="help" name="category" type="checkbox" />
            <label for="help">Giúp đỡ</label><br />

            <h6>Động vật</h6>
            <input value="cat" name="animal" type="checkbox" />
            <label for="cat">Mèo</label><br />

            <input value="dog" name="animal" type="checkbox" />
            <label for="dog">Chó</label><br />

            <input value="others" name="animal" type="checkbox" />
            <label for="others">Khác</label><br />

            <h6>Thành phố</h6>
            <input value="danang" name="area" type="radio" />
            <label for="danang">Đà Nẵng</label><br />

            <input value="hanoi" name="area" type="radio" />
            <label for="hanoi">Hà Nội</label><br />

            <input value="saigon" name="area" type="radio" />
            <label for="saigon">Tp. Hồ Chí Minh</label><br />

            <input value="all" name="area" type="radio" />
            <label for="all">Tất cả</label><br />

            @*<select name="area" class="form-control">
                <option value="danang">Đà Nẵng</option>
                <option value="hanoi">Hà Nội</option>
                <option value="saigon">Tp.HCM</option>
                <option value="all">Khu vự khác</option>
            </select>*@
            <input type="submit" class="btn btn-outline-success" value="Tìm" />
        }
    </div>


