@*Left side filter*@



<form id="filter-form" method="post" action="">
    <div class="row">
        <div class="col-5">
            <h6>Ngày đăng</h6>
            <input class="form-element" value="today" name="duration" type="radio" />
            <label for="today">Hôm nay</label>
            <br />

            <input class="form-element" value="3days" name="duration" type="radio" />
            <label for="3days">3 ngày</label>
            <br />

            <input class="form-element" value="week" name="duration" type="radio" />
            <label for="week">Tuần này</label>
            <br />

            <input class="form-element" value="all" name="duration" type="radio" />
            <label for="all">Mọi lúc</label>
        </div>
        <div class="col-7">
            <h6>Thành phố</h6>
            <input class="form-element" value="danang" name="area" type="radio" />
            <label for="danang">Đà Nẵng</label>
            <br />

            <input class="form-element" value="hanoi" name="area" type="radio" />
            <label for="hanoi">Hà Nội</label>
            <br />

            <input class="form-element" value="tphcm" name="area" type="radio" />
            <label for="saigon">Tp. Hồ Chí Minh</label>
            <br />

            <input class="form-element" value="all" name="area" type="radio" />
            <label for="all">Tất cả mọi nơi</label>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-5">
            <h6>Loại cứu trợ</h6>
            <input class="form-element" value="adopt" name="category" type="checkbox" />
            <label for="adopt">Nhận nuôi</label>
            <br />

            <input class="form-element" value="disease" name="category" type="checkbox" />
            <label for="disease">Bệnh tật</label>
            <br />

            <input class="form-element" value="help" name="category" type="checkbox" />
            <label for="help">Giúp đỡ</label>
        </div>
        <div class="col-7">
            <h6>Động vật</h6>
            <input class="form-element" value="cat" name="animal" type="checkbox" />
            <label for="cat">Mèo</label>
            <br />

            <input class="form-element" value="dog" name="animal" type="checkbox" />
            <label for="dog">Chó</label>
            <br />

            <input class="form-element" value="others" name="animal" type="checkbox" />
            <label for="others">Khác</label>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-6">
            <input class="form-element" type="text" placeholder="Tìm kiếm theo Tiêu đề" name="searchcontent"/>
        </div>
    </div>
</form>



