@{
    ViewData["Title"] = "Thông tin liên hệ";
}
<h1>@ViewData["Title"]</h1>



<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cứu trợ động vật">
    <title>Liên hệ</title>
    <meta property="og:site_name" content="Cứu trợ động vật">
    <meta property="og:type" content="website">
    <meta property="og:title">
    <meta property="og:description">
    <meta property="og:url">
    <meta property="og:image">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <!-- Fav icons -->
    <link rel="shortcut icon" type="image/x-icon" href="/Images/favicon.png">
    <!-- Font files -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Roboto:400,500,700&display=swap" rel="stylesheet">
    <!-- Fontawesome -->
    <link href="/Content/fontawesome?v=N5R0prAS6yXFbJQ5NsWDADYWElmbp_7Os4JEYHATmLM1" rel="stylesheet" />

    <!-- Bootstrap -->
    <link href="/Content/bootstrap?v=Rgzz_NDqO92QCUP0EnQVG9fI6l6ajPbi9S_kE8BzgFs1" rel="stylesheet" />

    <!-- style CSS -->
    <link href="/Content/common?v=JOmiqMtW7lIYAfizTPbg1AKXPmT3EeO2mxoDpZPkbRM1" rel="stylesheet" />

    <!-- Plugins CSS -->
    <link href="/Content/plugins?v=3EFn_7Z5Ps6yCOiuq6cM5kxNr6lelEKdQeru40tPml01" rel="stylesheet" />

    <!-- Colors CSS -->
    <link href="/Content/maincolors?v=mQUX1XpTxRwxwhSKXkobhUsIw5L3IyBkENcbldbbxIE1" rel="stylesheet" />

    <!-- Flaticon -->
    <link href="/Library/flaticon/flaticon-used.css" rel="stylesheet" />
    <!-- Site CSS -->
    <link href="/Content/sitescommon?v=wZ91CSk89mQxY8MH904hgLN3BLqE7uyzdjdswOSiFAc1" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link href="/Content/homecontact?v=UBrU2DgGp_spt04oZaRxAhPtysr-nooWPktkEoespA81" rel="stylesheet" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F7VBTS36J4"></script>
    <script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-F7VBTS36J4');
    </script>
</head>
<body id="top">
    <!-- <nav id="main-nav" class="navbar-expand-xl fixed-top">
        <div class="row">

            <div class="container-fluid top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="contact-details float-left">
                                <li><i class="fa fa-map-marker"></i>Đà Nẵng - Việt Nam</li>
                                <li><i class="fa fa-envelope"></i><a href="mailto:16pfiev3@gmail.com">16pfiev3@gmail.com</a></li>
                                <li><i class="fa fa-phone"></i><a href="tel:0393201068" rel="noreferrer" aria-label="0702704190" aria-labelledby="0702704190">(+84)70 2704 190</a></li>
                            </ul>
                            <ul class="social-list float-right list-inline">
                                <li class="list-inline-item mr-2">
                                </li>
                                <li class="list-inline-item">
                                    <a title="English" href="/en/lien-he"><img src="/Images/en.png" alt="English" /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </nav> -->

    <section class="container">
        <div class="row">
            <div class="col-sm-7 col-md-7 col-lg-7" data-aos="zoom-in">
                
                <ul class="list-unstyled mt-3 list-contact colored-icons">
                    <li><i class="fa fa-envelope margin-icon"></i><a href="mailto:16pfiev3@gmail.com" rel="noreferrer" aria-label="16pfiev3@gmail.com" aria-labelledby="16pfiev3@gmail.com">16pfiev3@gmail.com</a></li>
                    <li><i class="fa fa-phone margin-icon"></i><a href="tel:0393201068" rel="noreferrer" aria-label="0393201068" aria-labelledby="0393201068">(+84)70 2704 190</a></li>
                    <li><i class="fa fa-map-marker margin-icon"></i>Đà Nẵng - Việt Nam</li>
                </ul>
                <h3 data-aos="zoom-in" class="text-capitalize">
                    Tài khoản quyên góp
                </h3>
                <p class="mt-2">Chi phí sẽ được chia đều cho các bé khác còn nằm viện và gây dựng nhà chung.</p>
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-6">
                        <ul class="list-unstyled colored-icons">
                            <li><i class="fas fa-university margin-icon"></i><b>Sacombank</b></li>
                            <li>Trần Nguyên Hoàng</li>
                            <li>040044682186</li>
                            <li>Chi Nhánh Thanh Khê</li>

                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-6">
                        <ul class="list-unstyled colored-icons">
                            <li><i class="fas fa-university margin-icon"></i><b>Vietcombank</b></li>
                            <li>Phùng Hữu Tài</li>
                            <li>01008976543</li>
                            <li>Chi Nhánh Hải Châu</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-6">
                        <ul class="list-unstyled colored-icons">
                            <li><i class="fas fa-university margin-icon"></i><b>BIDV</b></li>
                            <li>Hồ Ngọc Huy</li>
                            <li>1900228508</li>
                            <li>Chi Nhánh Cẩm Lệ</li>

                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-6">
                        <ul class="list-unstyled colored-icons">
                            <li><i class="fas fa-university margin-icon"></i><b>MB BANK</b></li>
                            <li>Lê Học Minh</li>
                            <li>97259087654</li>
                            <li>Chi Nhánh Đông Hà</li>

                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-6">
                        <ul class="list-unstyled colored-icons">
                            <li><i class="fas fa-university margin-icon"></i><b>Vietinbank</b></li>
                            <li>Phạm Thị Cẩm Lai</li>
                            <li>122160019</li>
                            <li>Chi Nhánh Quảng Nam</li>

                        </ul>

                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-6">
                        <ul class="list-unstyled colored-icons">
                            <li><i class="fab fa-paypal margin-icon"></i><b>Paypal</b></li>
                            <li class="text-break">16pfiev3@gmail.com</li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-white pattern1">
        <div class="container" data-aos="fade-up">
            <div class="row">

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <h5>Về chúng tôi</h5>
                    <hr class="small-divider left" />
                    <p class="mt-3" aria-hidden="true">
                        Nhóm bạn trẻ chúng tôi với tình yêu thương động vật, hoạt động vì tình yêu động vật
                    </p>
                    <h5>Thông tin liên hệ</h5>
                    <hr class="small-divider left" />
                    <p class="mt-3" aria-hidden="true">
                        <ul class="list-unstyled mt-3">
                            <li class="mb-1"><i class="fas fa-phone margin-icon "></i><a href="tel:0393201068" rel="noreferrer" aria-label="0393201068" aria-labelledby="0702704190">(+84)70 2704 190</a></li>
                            <li class="mb-1"><i class="fas fa-envelope margin-icon"></i><a href="mailto:16pfiev3@gmail.com" rel="noreferrer" aria-label="16pfiev3@gmail.com" aria-labelledby="16pfiev3@gmail.com">16pfiev3@gmail.com</a></li>
                            <li><i class="fas fa-map-marker margin-icon"></i>Da Nang - Viet Nam</li>
                        </ul>
                    </p>

                </div>
                <div class="col-sm-12 col-md-6 col-lg-5 text-center">
                    <div class="fb-page" data-href="https://www.facebook.com/C%E1%BB%A8U-TR%E1%BB%A2-%C4%90%E1%BB%98NG-V%E1%BA%ACT-108183060917509/" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/C%E1%BB%A8U-TR%E1%BB%A2-%C4%90%E1%BB%98NG-V%E1%BA%ACT-108183060917509/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/C%E1%BB%A8U-TR%E1%BB%A2-%C4%90%E1%BB%98NG-V%E1%BA%ACT-108183060917509/">Cứu trợ động vật</a></blockquote></div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="credits col-sm-12">
                    <p aria-hidden="true">Copyright 2020/ Designed by <a href="https://bmbsoft.com.vn/" target="_blank" rel="noreferrer">TeamPFIEV</a></p>
                </div>
            </div>
        </div>

        <div id="chatWithUs">
            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <i class="fab fa-facebook-messenger"></i>
            </a>

            <div class="chatWithUsBox">
                <div class="fb-page" data-href="https://www.facebook.com/C%E1%BB%A8U-TR%E1%BB%A2-%C4%90%E1%BB%98NG-V%E1%BA%ACT-108183060917509/" data-tabs="messages" data-width="300" data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/C%E1%BB%A8U-TR%E1%BB%A2-%C4%90%E1%BB%98NG-V%E1%BA%ACT-108183060917509/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/C%E1%BB%A8U-TR%E1%BB%A2-%C4%90%E1%BB%98NG-V%E1%BA%ACT-108183060917509/">Cứu trợ động vật</a></blockquote></div>
            </div>
        </div>


        <!-- Go To Top Link -->
        <div class="page-scroll hidden-sm hidden-xs">
            <a href="#top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
        </div>
        <!--/page-scroll-->
    </footer>
    <!-- Footer -->
    <!-- Bootstrap core & Jquery -->
    <script src="/bundles/jquery?v=8Oos0avDZyPg-cbyVzvkIfERIE1DGSe3sRQdCSYrgEQ1"></script>

    <script src="/bundles/modernizr?v=inCVuEFe6J4Q07A0AcRsbJic_UE5MwpRMNGcOtk94TE1"></script>

    <script src="/bundles/bootstrap?v=ESck_wvaWCiF5JsitLMh765lhMnw7BVBtZE-YUTa4Ns1"></script>

    <!-- Custom Js -->
    <script src="/bundles/custom?v=Sk_ek571NeSqrYnzUQXUlDZDZC1SSP5ivz2qOSgqNO01"></script>

    <!-- Plugins Js -->
    <script src="/bundles/plugins?v=oTQ6xUk5Kvd3j3XWCg5mETy8j_-rz_IF-QAPlK8Al4M1"></script>

    <!-- Prefix free -->
    <script src="/bundles/prefixfree?v=ddYWm_tcSRB5NAZYlid-8Z9gMJPJMVoLYaGo3ArblfI1"></script>

    <!-- Lazy Load -->
    <script src="/bundles/lazyload?v=bdm57dWMVNQO_4ImpFG_Bt9MwCYoJmCMZEnlpb-muu81"></script>

    <!-- Common Js -->
    <script src="/bundles/common?v=emuYXrCNr4z-RO9W8y54XwXR3W0_py2LA0v7iwUs-j41"></script>


    <div id="fb-root"></div>
    <script defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v5.0&appId=528677467971809&autoLogAppEvents=1"></script>


    <script src="/bundles/contact?v=aQlotExdr8ba4T9mmPIlDP90EhYVGbeldoHD8buoh4I1"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>

</body>

