
.content {
    width: 1170px;
    margin: auto;
    margin-top: 30px;
}
/*dùng ảnh gif*/
.load {
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000000000;
    display: block;
    overflow: hidden;
}

    .load img {
        width: 250px;
        height: 250px;
        position: absolute;
        top: 47%;
        left: 47%;
        margin-top: -75px;
        margin-left: -75px;
    }
/*cách 2 dùng css*/
.loader {
    width: 100%;
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000000000;
    display: block;
    overflow: hidden;
}
