.btn-signin {
    background-color: #ffc107;
    color: white;
    font-weight: 700;
}

.btn-signin:hover {
    background-color: white;
    color: black;
    transition-duration: 0.1s;
}

.btn-login {
    background-color: #dc3545;
    color: white;
    font-weight: 700;
}

.btn-login:hover {
    background-color: white;
    color: #dc3545;
    transition-duration: 0.1s;
}