.post-db {
    font-size: 14px;

}

.searchbar {
    border:0 0 0 0;
}
.searchbar-container {
    padding-left:175px;
    padding-right: 175px;
}

.add-post-btn-container {
    padding-right: 5px;
    border-right: 1px solid;
}

.post-btn {
    color: #fff;
    font-size:12px;
    height:35px;
    width:35px;
}

.post-list {
    
}