.post-db {
    font-size: 14px;

}

.searchbar {
    border:0 0 0 0;
}
.searchbar-container {
    padding-left:175px;
    padding-right: 175px;
}

.divider-right {
    border: 1px solid;
    height: 35px;
}

.post-btn {
    color: #fff;
    font-size:12px;
    height:35px;
    width:35px;
    
}

.post-list {
    
}

.btn-danger {
    font-size: 14px;
}