.post-db 
{
    font-size:14px;
}

.searchbar-container {
    padding-left:175px;
    padding-right: 175px;
}


.post-db {
    font-size: 14px;
}

.searchbar {
    border: 0 0 0 0;
}


.add-post-btn-container {
    padding-right: 5px;
    border-right: 1px solid;
}

.add-post-btn {
    color: #fff;
    font-size: 12px;
}

.post-list {
}

.post-btn {
    color: #fff;
    font-size: 12px;
    height: 35px;
    width: 35px;
}