@model PetWeb.ViewModels.CommentViewModel
<div id="all-comments">
    @foreach (var comment in Model.Comments.Reverse())
    {

        <div class="row">
            <h6 class="ml-3 mr-2 text-primary">@comment.Username</h6>
            <p>@comment.Content</p>
        </div>
        <div><small>@comment.DateComment</small></div>
        <hr />
    }
</div>