@model PetWeb.ViewModels.PostViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tạo bài đăng mới</h1>

<hr />
<div class="row" style="background-image: url(@Url.Content("~/images/dog1.jpg")); background-size: 100% 100%;">

    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post" id="create-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Tiêu đề</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">Mô tả</label>
                <textarea asp-for="Content" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaId" class="control-label">Khu vực:</label>
                <select asp-for="AreaId" class="form-control">
                    <option value=1>Hải Châu</option>
                    <option value=2>Thanh Khê</option>
                    <option value=3>Sơn Trà</option>
                    <option value=4>Liên Chiểu</option>
                    <option value=5>Cẩm Lệ</option>
                    <option value=6>Hòa Vang</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ImageURL" class="control-label">Link ảnh</label>
                <input asp-for="ImageURL" class="" type="file"/>
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
            <div class="form-group float-right">
                <input type="submit" value="Tạo mới" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
